<h1>Hello, <%= current_user.name %></h1>

<h2>These are your posts:</h2>
<% if current_user.posts.length > 0 %>
    <% current_user.posts.each do |post| %>
    <div>
      <div id='image'>
          <img><%= image_tag (post.img_uri) %></img>
      </div>
      <div>
        <%= post.site_found %>
      </div>
      <div>
        <%= post.description %>
      </div>
      <%= button_to "Delete", post_path(post), :method => :delete, data:
      {:confirm => "Are You Sure You Want to Delete Your Post?"}%>
    </div>
    <% end %>

<% else %>
  <h3>No posts found!</h3>
<% end %>

