
<div id="current-profile">

  <% if current_user.posts.length > 0 %>
    <span>
      <h1>Hello, <%= current_user.name %></h1>
      <h2>These are your posts:</h2>
    </span>
      <% current_user.posts.each do |post| %>

        <div class="col-lg-3 col-sm-4 col-xs-6 card">
          <a href="/posts/<%= post.id %>" class="thumbnail">
            <img class="card-img-top" data-src="holder.js/100%x180/"><%= image_tag (post.img_uri) %></img>
          </a>
          <div class="card-block">
            <h4><%= button_to "Delete", post_path(post), :method => :delete, data: {:confirm => "Are You Sure You Want to Delete Your Post?"}%></h4>
          </div>
        </div>

      <% end %>

      <% @post_ids.each do |like| %>
        <%= image_tag (@posts.find(like).img_uri) %>
      <% end %>

  <% else %>
    <h3>No posts found!</h3>
  <% end %>
</div>

