
  <div class="title">
    <h1><span>Rock it Up</span></h1>
    <br>
    <h3><span id="definition">rock: <br>the solid mineral material forming part of the surface of the earth and other similar planets, exposed on the surface or underlying the soil or oceans...</span>
    </h3>

    <a href="/users/new">
      <button class="btn-primary btn-block">SIGN UP</button>
    </a>
  </div>



  <% @posts.reverse.each do |f| %>
  <div class='front'>


    <div class='image'>
      <a href='/posts/<%= f.id %>'>
        <img><%= image_tag (f.img_uri) %></img>
      </a>
        <h3 id='label'><%= f.user.name %><br><%= f.site_found %></h3>
    </div>
    <div>
      <%= f.description %>
    </div>
  </div>
  <% end %>



