
  <div class="title">
    <h1><span>Rock it Up</span></h1>
    <br>
    <h3><span id="definition">rock: <br>the solid mineral material forming part of the surface of the earth and other similar planets, exposed on the surface or underlying the soil or oceans...</span>
    </h3>

  <% if current_user %>

      <a id="posts-new" href="/posts/new">
        <button class="btn-success btn-block">WELCOME <%= current_user.name %>! <br>POST A ROCK!</button>
      </a>
    </div>

    <% else %>

      <a href="/users/new">
        <button class="btn-primary btn-block">SIGN UP</button>
      </a>
    </div>
  <% end %>




  <% @posts.reverse.each do |f| %>
  <div class='front'>


    <div class='image'>
      <a href='/posts/<%= f.id %>'>
        <img><%= image_tag (f.img_uri) %></img>
      </a>
        <h3 id='label'><%= f.user.name %><br><%= f.site_found %></h3>
    </div>
    <div id="description">
      <h4><span class="rock-story">Rock Story<span><hr></h4>

      <p class="rock-story"><%= f.description %></p>
    </div>
  </div>
  <% end %>



