<h1>Front Page</h1>


<% @posts.each do |f| %>

  <div id='front'>

<%= f.uploader.name %>
    <div id='image'>
      <a href='/posts/<%= f.id %>'>
        <img><%= image_tag (f.img_uri) %></img>
      </a>
    </div>
    <div>
      <%= f.site_found %>
    </div>
    <div>
      <%= f.description %>
    </div>
    <div>
    <%= button_to "Rock it Up!", root_path %>
    </div>
  </div>
<% end %>
