<body>
<div class="narrow container">

  <div class="title">
    <h1>i found a cool rock.</h1>
    <br>
    <h3>rock: <br>the solid mineral material forming part of the surface of the earth and other similar planets, exposed on the surface or underlying the soil or oceans...
    </h3>
    <button href="/users/new" class="btn-primary btn-block">SIGN UP</button>
  </div>



<% @posts.each do |f| %>
<div class='front'>

    <%= f.user.name %>
        <div class='image'>
          <a href='/posts/<%= f.id %>'>
            <img><%= image_tag (f.img_uri) %></img>
          </a>
        </div>
        <div>
          <%= f.site_found %>
        </div>
        <div>
          <%= f.description %>
        </div>
      </div>
  <% end %>
</div>

</body>
