<h1>Front Page</h1>


<% @posts.each do |f| %>
 <%= f.user.name %>
  <div id='front'>
    <a href='/posts/<%= f.id %>'>
      <%= image_tag (f.img_uri) %>
    </a>
    <div>
      <%= f.site_found %>
    </div>
    <div>
      <%= f.description %>
    </div>
  </div>
<% end %>
